<h1> Welcome to the Hangman admin page </h1>

<form action="/admin/word" method="post">
    <h1>word: <%= @word %></h1>
    <input type="text" name="word" value="<%= @word %>">
    <h1>teaser: <%= @teaser %></h1>
    <input type="text" name="teaser" value="<%= @teaser %>">
    <input type="submit">
</form>