<h1>Today's date is:</h1> <%= current_date  %>
<h3>Guess the word/phrase before your man gets hung!</h3>

<h1> Random word: <%= @random_word %> </h1>

<form action="/random" method="post">
    <input type="submit" label="generate word">
</form>